.home-container {
    padding-top: 64px;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    height: calc(100vh - 24px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home-container p {
    font-weight: 300;
}

.img-container {
    width: 170px;
    height: 170px;
    border: 2px dashed;
    border-radius: 50%;
    padding: 1vh;
    margin: 0 auto;
    
}

.img-container img {
    width: 100%;
    border-radius: inherit;
    border: 1px solid;
}

.subtitle {
    font-size: 45px;
    background-color:red;
    margin: 0;
    padding: 0;
   
}

.enlaces {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
 
}

.enlaces a {
    border: 2px dashed;
    width: 40%;
    font-size:smaller;
    display: flex;
    justify-content: center;
   
    cursor: pointer;
    height: 4vh;
  
    align-items: center;
    border-radius: 1vh;

}

.enlaces i {
    margin-left: 0.5em;
    text-align: center;
    align-items: center;
  font-size: 17px;

}


.contenedor-title {
line-height: 1;


}

.contenedor-title h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 250;

}
.contenedor-title h1 span {

    font-weight: 400;
  
}

.change-mode-container {
    margin-top: 1em;
justify-content: space-between;

width: 100%;

    display: flex;
    height: 1em;
  

 
}

.change-mode-container div {
    display: flex;
    border: 1px solid gray;
border-radius: 2px;
}



.btn-mode {
    background: none;
    border: none;
    text-align: center;
    display: flex;
    cursor: pointer;
    padding: 2px;
    font-size: x-small;
 }
 
 .btn-mode2 {
  
    
    padding: 2px;
    text-align: center;
    
    height: inherit;
border: none;
     display: flex;
     background: none;
    
 
     margin-bottom: 100px;
   

 
 }

